# API Keys OR configure via interface
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=

# Default LLM
# LLM_PROVIDER=ANTHROPIC
# LLM_MODEL=claude-opus-4-7
# LLM_PROVIDER=OPENAI
# LLM_MODEL=claude-opus-4-7
LLM_PROVIDER=GOOGLE
LLM_MODEL=gemini-3.5-flash